*{
    list-style: none;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

.w{
    width: 1200px;
    margin:0 auto;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.clearfix:after {
    content: "";
    height: 0;
    line-height: 0;
    display: block;
    clear: both;
    visibility: hidden;
}
.clearfix {
    zoom: 1;
}
input {
    outline: none;
}